
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.h1x{
    font-family: 'Yellowtail', cursive;
}

.h4x{
    font-weight: lighter;
    color: grey;
    margin-bottom: 5%;
    margin-top: -2%;
}

.icon1 {
    position: absolute;
    top: 6.2%;
    left: 82%;
}

.icon2{
    float: right;
    margin-top: -7.6%;
}

.h2h4{
    margin-left: 5%;
}

#logo{
    position: absolute;
    top: 5%;
    left: 1.5%;
}

hr{

    border:10px solid grey;
    
}
h1{
    font-weight: bold;
    font-family: fantasy;
    font-size: 32px;
}

.h4p{
    font-weight: lighter;
    color: grey;
}

.print{

    display: flex;
    float: right;

    
}

.print1{
 
    width: 35px;
    height: 24px;
    margin-top: 13%;
    margin-right: 9%;
}


.choco{
    width: 100%;
}


.formimg{

    background-image: url(img/list-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.form2{
    margin-left: 40%;
}

.form1{

    position: absolute;
    left: 9%;
}

form {
    text-decoration: none;
}

li{
    list-style-type: none;
    padding: 2%;
}
.vanessa{
    display: flex;

}

.Pvan{

    font-weight: lighter;
    color: grey;
    margin-left: 6%;
    margin-top: -1.5%;
}

button{

    margin-left: 66%;
    margin-top: -6%;
    background-color: rgb(219, 26, 26);
    padding: 2%;
    height: 50px;
    line-height: 5px;
    font-size: 18px;
    color: white;
}
.p2 {
    text-align: center;
    font-weight: lighter;
    color: grey;
}

.p3{
    font-weight: lighter;
    color: grey;
    font-size: 18px;

}

#spoonX{

    text-align: center;

}

